.\!grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.bg-\[\#d3f8e1\] { background-color: #d3f8e1; }
.bg-\[\#e2faeb\] { background-color: #e2faeb; }
.bg-\[\#f0fdf5\] { background-color: #f0fdf5; }
.\!grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

@media (min-width: 1024px) {
    .lg\:\!grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }
}

.\!gap-x-14 {
    -moz-column-gap: 3.5rem !important;
    column-gap: 3.5rem !important;
}

@media (min-width: 1024px) {
    .lg\:\!w-3\/5 {
        width: 60% !important;
    }
}


.css-yk16xz-control {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
}

.filter-options {
    transition: height 0.3s ease;
}

.filter-options.show {
    height: auto;
}

.mb-5 {
    margin-bottom: 1.25rem !important;
}