.\!grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.bg-\[\#d3f8e1\] { background-color: #d3f8e1; }
.bg-\[\#e2faeb\] { background-color: #e2faeb; }
.bg-\[\#f0fdf5\] { background-color: #f0fdf5; }
.\!grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

@media (min-width: 1024px) {
    .lg\:\!grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }
}

.\!gap-x-14 {
    -moz-column-gap: 3.5rem !important;
    column-gap: 3.5rem !important;
}

@media (min-width: 1024px) {
    .lg\:\!w-3\/5 {
        width: 60% !important;
    }
}


.css-yk16xz-control {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
}

.filter-options {
    transition: height 0.3s ease;
}

.filter-options.show {
    height: auto;
}
.\!justify-start {
    justify-content: flex-start !important;
}
.\!gap-3 {
    gap: .75rem !important;
}
.mb-5 {
    margin-bottom: 1.25rem !important;
}
.w-\[30\%\] {
    width: 30%;
}
.z-100 {
    z-index: 100;
}

.\!flex-1 {
    flex: 1 1 0% !important;
}

.\!items-stretch {
    align-items: stretch !important;
}
.\!justify-between {
    justify-content: space-between !important;
}

@media (min-width: 1024px) {
    .lg\:py-6 {
        padding-top: 1.5rem !important; 
        padding-bottom: 1.5rem !important;
    }
}
@media (min-width: 1024px) {
    .lg\:px-6 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

.nav-item.active {
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* px-4 */
    padding-top: 0.5rem; /* py-2 */
    padding-bottom: 0.5rem; /* py-2 */
    display: flex; /* flex */
    align-items: flex-start; /* items-start */
    justify-content: center; /* justify-center */
    text-transform: capitalize; /* capitalize */
    cursor: pointer; /* hover:cursor-pointer */
    border-bottom-width: 3px; /* border-b-3 */
    border-bottom-style: solid; /* border-solid */
    border-bottom-color: #16a34a; /* border-green-600 */
    background-color: #ecfccb; /* bg-green-50 */
    color: #000000; /* Add your desired text color */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* shadow-md */
    border-top-left-radius: 0.375rem; /* rounded-t-md */
    border-top-right-radius: 0.375rem; /* rounded-t-md */
}

@media (min-width: 576px) {
    .form {
        padding: 2rem !important;
    }
}

.form {
    margin: 5px auto;
    background: rgb(255 255 255);
    padding: 2rem;
    max-width: 450px;
    box-shadow: 0 0 20px rgb(90 70 87 / 12%);
    border-bottom: 5px solid #673efd !important;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}